# Mac crap
.DS_Store

.idea/*
logs/*

classes/*

extp/*/target/*
mix/target/*
user/target/*
spring-utils/target/*
common/target/*
hitools/target/*

base/target/*
design/target/*
net/target/*
distributed-sequence/target/*
distributed-lock/target/*
tools-compiler/target/*
tools-compiler/.xutils_compiler_cache_dir/*

tools-sql/target/*
tools-cache/target/*

geek-code/target/*
crud-boy/target/*
demo/target/*
